<p>Bem vindo {{firstName}}</p>
<p>Clique no link abaixo para recuperar sua senha senha:</p>
<p><a href="{{ url }}" target="_blank">Alterar senha</a></p>
<br>
<small>Caso a solicitação não tenha sido feita por você, após 24hrs esta solicitação será automaticamente encerrada.</small>