<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmação de cadastro</title>
</head>
<body>
  {{~#if success}}
    <h1 style="display: block; text-align: center;">Seu registro foi confirmado, obrigado por se cadastrar senhor(a) {{ name }}.</h1>
  {{~^~}}
    <h1 style="display: block; text-align: center;">Não encontramos o usuário da solicitação. Contate um administrador.</h1>
  {{~/if~}}
</body>
</html>