{{~#if success}}
  {{#with user}}
    <p><label for='password'>Senha</label></p>
    <p><input type='password' name='password' /></p>
    <p><label for='confirmPassword'>Confirme a senha</label></p>
    <p><input type='password' name='confirmPassword' /></p>
    <p><Button type='submit'>Alterar</Button></p>
  {{/with}}
{{~else~}}
  <h1 style='display: block; text-align: center;'>Nice try /;)</h1>
{{~/if}}